<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Gerer ma smart card</title>
        {% load static %}
        {% include '00_Ressources/sheet1.html' %}
        {% include '03_Modal/add_plaque_social_media.html' %}
    </head>

    <header>
        {% include '01_Layout/header.html' %}
    </header>

    <body>

    <div style="margin-left: 2%; margin-top: 8%; margin-right: 2%; margin-bottom: 2%">
        <h1><img width="70px" src="{% static 'image/plaque/reseaux-sociaux.png' %}"> MES RESAUX SOCIAUX</h1>
        <h4>Entreprise : {{ nom_entreprise }}</h4>

       <div style="margin-top: 3%; display: flex; width: 60%">

           <div id="btn_div">
               <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modal_add_reseau_social">
                   Ajouter un élément
               </button>
           </div>

           <div id="btn_div">
               <a href="/rejoignez-nous/{{ id_entreprise }}">
                   <button type="button" class="btn btn-outline-success">
                       Consulter ma page
                   </button>
               </a>
           </div>
        </div>

    </div>

    {% if len_bs_social_media == 0 %}
            <div style="margin-top: 2%; margin-left: 2%; margin-bottom: 20%">
                <p style="color: red">Vous n'avez aucun élément</p>
            </div>
        {% else %}

        <div style="width:95%; padding-left:3% ;padding-right:3%; margin-bottom: 9%">
            <table class="table table-hover" style="text-align: center">
                <thead>
                    <tr>
                        <th scope="col">Logo</th>
                        <th scope="col">Réseau sociaux</th>
                        <th scope="col">Lien</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </thead>

                {% for social_media in bs_social_media %}
                    <tbody>
                        <tr>
                            <td><img style="width: 73px;" src="{{ social_media.path_logo }}" class="img-fluid"></td>
                            <td>{{ social_media.name }}</td>
                            <td><a href="{{ social_media.link }}">{{ social_media.link }}</a></td>
                          <td>
                              <a href="/modifier_reseau_sociaux_pl/{{social_media.id}}">
                                  <button type="button" class="btn btn-warning">
                                      <ion-icon name="create-outline"></ion-icon>
                                  </button>
                              </a>
                          </td>

                            <td>
                              <a href="/modifier_reseau_sociaux_pl/{{social_media.id}}">
                                  <button type="button" class="btn btn-danger">
                                      <ion-icon name="trash-outline"></ion-icon>
                                  </button>
                              </a>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </body>

    <footer>
        {% include '01_Layout/footer.html' %}
    </footer>
</html>

<style>
    #btn_div{
        padding-right: 1%;
    }

</style>
