<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Inscription</title>
        {% load static %}
        {% include '00_Ressources/sheet1.html' %}
    </head>

    <header>
        {% include '01_Layout/header.html' %}
    </header>

    <body>
        <div style="padding-top: 5%">
            {% include '06_Messages/messages.html' %}
        </div>

        <div style="padding-left: 2%; margin-top: 8%; padding-right: 2%; padding-bottom:5%; display: block; margin-left: auto; margin-right: auto">
            <div style="padding-left: 2%; margin-top: 8%; padding-right: 2%">
               <h1><ion-icon name="person-circle-outline"></ion-icon> Gérer mon compte</h1>
            </div>

            <div style="padding-top: 2%; padding-bottom: 2%; width: 80%; display: block; margin-left: auto; margin-right: auto">
                <h4><ion-icon name="lock-closed-outline"></ion-icon> Confidentialité</h4>
                <div style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                    <table class="table table-hover">
                        <tr>
                            <th scope="col">Prénom</th>
                            <td>{{ user.first_name }}</td>
                            <td><a href="/modifier_mon_compte/">Modifier</a></td>
                        </tr>

                        <tr>
                            <th scope="col">Nom</th>
                            <td>{{ user.last_name }}</td>
                            <td><a href="/modifier_mon_compte/">Modifier</a></td>
                        </tr>

                        <tr>
                            <th scope="col">Email</th>
                            <td>{{ user.email }}</td>
                            <td><a href="#"></a></td>
                        </tr>

                        <tr>
                            <th scope="col">Mot de passe</th>
                            <td>**********</td>
                            <td><a href="/modifier_mot_de_passe/">Modifier</a></td>
                        </tr>
                    </table>
                </div>

               </br>

               <h4>Mon abonnement</h4>
               <div style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                   <table class="table table-hover" width="50%">
                       <thead>
                        <tr>
                            <th scope="col">Abonnement</th>
                            <th scope="col">Situations</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date de souscription</th>
                        </tr>
                       </thead>

                       <tbody>
                       <tr>
                           <td>SIMPLE</td>
                           <td>Activé</td>
                           <td>Annuelle</td>
                           <td>01/01/2022</td>
                       </tr>
                       </tbody>
                   </table>
               </div>
           </div>
       </div>
    </body>

    <footer>
        {% include '01_Layout/footer.html' %}
    </footer>
</html>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<style>
    #my_message_alert{
        position: absolute;
        z-index: 9999;
        width: 100%;
        top : 8%;
        text-align: center;
    }
</style>

