{% load static %}
<!DOCTYPE html>
<html>
    <body>

        <div>
             <img style="display: block; margin-right: auto; margin-left: auto" width="170px;" src="{% static 'image/we/logo_test.png' %}">
        </div>

        <div style="width: 95%; display: block; margin-left: auto; margin-right: auto">
            <div style="margin-left: 5%; margin-right: 5%; margin-top:5% ;padding-bottom: 5%; padding-top: 5%">

                <p>Vous avez oublié votre mot de passe</p>

                </br>

               <a href="http://127.0.0.1:8000/changer_mot_de_passe_oublie/{{ user_email }}">Changer mon mot de passe</a>

                <br/>

                <p>L'équipe MY QR-CODE SOLUTIONS</p>

            </div>
        </div>
    </body>
</html>