{% load static %}
<!DOCTYPE html>
<html>
    <body>
        <div>
             <img style="display: block; margin-right: auto; margin-left: auto" width="170px;" src="{% static 'image/we/logo_test.png' %}">
        </div>

        <div style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
         width: 95%; display: block; margin-left: auto; margin-right: auto";>
            <div style="margin-left: 5%; margin-right: 5%; margin-top:5% ;padding-bottom: 5%; padding-top: 5%">
                <p>Cher(e), {{ user_name }} !</p>
                </br>

                <p>
                    Nous sommes ravis de vous accueillir sur notre site NFC de réseaux sociaux!
                    Vous avez désormais accès à notre gamme de services pour afficher vos profils de réseaux sociaux
                    via une technologie NFC innovante.
                </p>

                <p>
                    Notre plateforme est conçue pour vous offrir une expérience utilisateur fluide et agréable.
                    Nous sommes fiers de vous proposer un service efficace et facile à utiliser pour connecter rapidement
                    avec vos abonnés sur les réseaux sociaux.
                </p>

                <p>
                    Nous sommes impatients de voir vos profils de réseaux sociaux s'afficher sur
                    nos balises NFC et de vous aider à atteindre de nouveaux abonnés.
                </p>

                <p>Cordialement,</p>

                <p>L'équipe ALL IN ONE</p>

            </div>
        </div>
    </body>
</html>