<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Mes abonnements</title>
        {% load static %}
        {% include '00_Ressources/sheet1.html' %}
        {% include '03_Modal/add_business_card_social_media.html' %}
        {% include '03_Modal/display_profile.html' %}
    </head>

    <header>
        {% include '01_Layout/header.html' %}
    </header>

    <body style="background-color: #f3f3f3">
        <section style="margin-top: 8%; margin-bottom: 5%">
            <div class="container py-5">

                <div class="row text-center align-items-end">

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="bg-white p-5 rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
                            <h2 class="h1 font-weight-bold">4,99 €<span class="text-small font-weight-normal ml-2">/ mois</span></h2>

                            <div class="custom-separator my-4 mx-auto bg-primary"></div>

                            <ul class="list-unstyled my-5 text-small text-left">

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/true.png" %}">
                                    <i class="fa fa-times mr-2"></i>
                                    Ajouter jusqu'à 3 entreprises
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/true.png" %}">
                                    <i class="fa fa-times mr-2"></i>
                                    Ajouter jusqu'à 3 entreprises
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/true.png" %}">
                                    <i class="fa fa-times mr-2"></i>
                                    Ajouter jusqu'à 3 entreprises
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/false.png" %}">
                                    <del style="color: grey; padding-left: 3%">Ajouter jusqu'à 3 entreprises</del>
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/false.png" %}">
                                    <del style="color: grey; padding-left: 3%">Ajouter jusqu'à 3 entreprises</del>
                                </div>

                            </ul>

                            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Souscrire</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="bg-white p-5 rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Superior</h1>
                            <h2 class="h1 font-weight-bold">9,99 €<span class="text-small font-weight-normal ml-2">/ mois</span></h2>

                            <div class="custom-separator my-4 mx-auto bg-primary"></div>

                            <ul class="list-unstyled my-5 text-small text-left">

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/true.png" %}">
                                    <i class="fa fa-times mr-2"></i>
                                    Ajouter jusqu'à 3 entreprises
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/true.png" %}">
                                    <i class="fa fa-times mr-2"></i>
                                    Ajouter jusqu'à 3 entreprises
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/true.png" %}">
                                    <i class="fa fa-times mr-2"></i>
                                    Ajouter jusqu'à 3 entreprises
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/false.png" %}">
                                    <del style="color: grey; padding-left: 3%">Ajouter jusqu'à 3 entreprises</del>
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/false.png" %}">
                                    <del style="color: grey; padding-left: 3%">Ajouter jusqu'à 3 entreprises</del>
                                </div>

                            </ul>

                            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Souscrire</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="bg-white p-5 rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Premium</h1>
                            <h2 class="h1 font-weight-bold">14,99 €<span class="text-small font-weight-normal ml-2">/ mois</span></h2>

                            <div class="custom-separator my-4 mx-auto bg-primary"></div>

                            <ul class="list-unstyled my-5 text-small text-left">

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/true.png" %}">
                                    <i class="fa fa-times mr-2"></i>
                                    Ajouter jusqu'à 3 entreprises
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/true.png" %}">
                                    <i class="fa fa-times mr-2"></i>
                                    Ajouter jusqu'à 3 entreprises
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/true.png" %}">
                                    <i class="fa fa-times mr-2"></i>
                                    Ajouter jusqu'à 3 entreprises
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/false.png" %}">
                                    <del style="color: grey; padding-left: 3%">Ajouter jusqu'à 3 entreprises</del>
                                </div>

                                <div class="desc" style="padding-top: 7%">
                                    <img style="width: 20px" src="{%static "image/abonnement/false.png" %}">
                                    <del style="color: grey; padding-left: 3%">Ajouter jusqu'à 3 entreprises</del>
                                </div>

                            </ul>
                            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Souscrire</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>

    <footer>
        {% include '01_Layout/footer.html' %}
    </footer>

</html>