<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Mon profil</title>
        {% load static %}
        {% include '00_Ressources/sheet1.html' %}
        {% include '03_Modal/add_business_card_social_media.html' %}
        {% include '03_Modal/display_profile.html' %}
    </head>

    <header>
        {% include '01_Layout/header.html' %}
    </header>

    <body>
        <div style="margin-left: 2%; margin-top: 8%; margin-right: 2%; margin-bottom: 2%">
            <h1><ion-icon name="business-outline"></ion-icon> Gérer mon profil</h1>
        </div>

        <div style="padding-top: 2%; padding-bottom: 15%; width: 90%; display: block; margin-left: auto; margin-right: auto">

            <div style="display: flex; width: 60%; padding-bottom: 3%;">

                <div id="btn_div">
                    <a href="/modifier_mon_profile/">
                        <button type="button" class="btn btn-outline-primary">Modifier mon profil</button>
                    </a>
                </div>

                <div id="btn_div">
                    <a href="/ma_smart_business_card/">
                        <button type="button" class="btn btn-outline-success">
                            Consulter ma page
                        </button>
                    </a>
                </div>

            </div>

            <div style="box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                <table class="table table-hover">
                       <tr>
                            <th scope="col">Photo de profile</th>
                           {% if profil.path_profil == " " %}
                               <td>Aucune image téléchargée</td>
                           {% else %}
                           <td><img width="160px" src="{{ profil.path_profil }}" class="img-fluid" alt="Image" data-toggle="modal" data-target="#myModal"></td>
                           {% endif %}
                        </tr>

                        <tr>
                            <th scope="col">Prénom</th>
                            <td>{{ user.first_name }}</td>
                        </tr>

                        <tr>
                            <th scope="col">Nom</th>
                            <td>{{ user.last_name }}</td>
                        </tr>

                        <tr>
                            <th scope="col">Métier</th>
                            <td>{{ profil.job }}</td>
                        </tr>

                        <tr>
                            <th scope="col">Description</th>
                            <td>{{ profil.job_description }}</td>
                        </tr>
                   </table>
               </div>
        </div>
    </body>

    <footer>
        {% include '01_Layout/footer.html' %}
    </footer>
</html>

<style>
    #btn_div{
        padding-right: 1%;
    }

</style>